<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>
        <%= app.pageTitle %>
    </title>
    <meta name="keywords" content="Facebook, Youtube, Live.me, Jackd, Grindr, Hornet, Twitter, Snapchat, instagram" />
    <meta name="description" content="The yong, handsome, beautiful like most. Many yong, beautiful girls, sweetie， handsome boys, dude. "
    />
    <meta name="baidu-site-verification" content="ulQb1ppmog" />
    <link rel="shortcut icon" href="http://<%= app.domain %>/dist/pc/img/common/title_icon.png">
</head>

<body>

    <%= content %>

    <script type="text/javascript" src="http://static.<%= app.domain %>/dist/v2/pc/js/lib/dll.js"></script>
    <script type="text/javascript" src="http://static.<%= app.domain %>/dist/v2/pc/js/manifest.js"></script>
    <script type="text/javascript">
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1271582395"]);

    </script>
    <div style="display: none;">
        <script src="http://s22.cnzz.com/z_stat.php?id=1271582395&web_id=1271582395"></script>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("<span id='cnzz_stat_icon_1271582395'></span><script src='" + cnzz_protocol +
                "s22.cnzz.com/z_stat.php?id=1271582395' type='text/javascript'><\/script>"));

        </script>
    </div>
</body>

</html>
